.container{
  padding: 2rem 4rem;
}
.title {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 84px;
  width: 90%;
  color: #000000;
  margin-bottom: 2rem;
}
.sub_title {
  font-family: "Lexend";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.home_btn {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fffcef;

  background: #ee4c15;
  border-width: 1px 8px 8px 1px;
  border-style: solid;
  border-color: #000000;
  border-radius: 0px 5px 5px 5px;
  padding: 16px 32px;
  gap: 24px;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    padding: 3rem 0;
    margin-top: 8rem;
  }
  
